{% extends 'layout.html' %}
  {% block contenido %}
    {% for error in errors %}
      <div class="alert alert-danger" role="alert">
        <strong>ERROR!</strong> {{ error }}
      </div>
    {% endfor %}
    {% for mensaje in success %}
    <div class="alert alert-success" role="alert">
      <strong>SUCCESS!</strong> {{ mensaje }}
    </div>
    {% endfor %}
    <h1>Skate Park</h1>

    <div class="py-4">
      <h2>Registro</h2>
      <hr class="w-50" />

      <form method="post" action="/registro" enctype="multipart/form-data">
        <div class="form-group row w-50 m-auto">
          <div class="form-group col-12 col-sm-6">
            <label>Email</label>
            <input required type="email" name="email" class="form-control m-auto"/>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Nombre</label>
            <input required name="nombre" class="form-control m-auto" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Password</label>
            <input required type="password" name="password" class="form-control m-auto" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Repita la password</label>
            <input required type="password" name="password2" class="form-control m-auto" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Años de experiencia</label>
            <input required type="number" name="experiencia" class="form-control m-auto" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Especialidad</label>
            <input required name="especialidad" class="form-control m-auto" />
          </div>
          <div class="form-group col-12 col-sm-12">
            <label>Foto de perfil</label>
            <input required name="img" type="file" />
          </div>
        </div>
        <button class="btn btn-info mb-3">Registrarme</button>
        <p><a href="/login"> Iniciar sesión</a></p>
      </form>
    </div>
  {% endblock %}

